header h1{
    text-align: center;
    color:teal;
    font-weight: bold;
    font-family: monospace;
}

li{
    display: inline;
    margin: 4%;
}

nav ul{
    background-color: rgb(54, 20, 20);
    margin-left: 10%;
    margin-right: 10%;
}

a{
    text-decoration: none;
    color:aliceblue;
}

img{
    height: 400px;
    text-align: center;
}

section{
    text-align: center;
}

h3{
    text-decoration: underline;
    color: rgb(54, 20, 20);
}