header h1{
    text-align: center;
    color:teal;
    font-weight: bold;
    font-family: monospace;
}

li{
    display: inline;
    margin: 4%;
}

nav ul{
    background-color: rgb(109, 17, 17);
}

a{
    text-decoration: none;
}
img{
    height: 400px;
}
